Package: tweakaddbutton
Name: tweakaddbutton
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sinc
Author: sinc
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
